<script type="text/javascript">
$(function () {
  let dateCnt = <%= @date_cnt %>;
  let inpDateIdx;

  $("#datepicker").datepicker({
    // 日付が選択された時、日付をテキストフィールドへセット
    onSelect: function (dateText, inst) {
      for (inpDateIdx = 1; inpDateIdx <= dateCnt; inpDateIdx++) {
        // 上から検索して空白のところにセット
        if ($("#date_val" + inpDateIdx.toString()).val() == '') {
          $("#date_val" + inpDateIdx.toString()).val(dateText);
          break;
        }
      }
    }
  });

  $(document).on('click', '.clearDate', function () {
    // 同じ連番のinputをクリア
    let dateId = $(this).attr('id').match(/[0-9]+/);
    $("#date_val" + dateId.toString()).val('');
  });

  // materialize初期化
  $(document).ready(function(){
    // input初期化(https://materializecss.com/text-inputs.html)
    M.updateTextFields();
  });
});
</script>

<% provide(:title, "イベント編集") %>
<h2>イベント編集</h2>
<% if @event.errors.any? %>
<ul>
  <% @event.errors.full_messages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
  <%= form_for(@event, url:{controller:'events', action:'update', id: @event.id}, html: {class: 'col s12'}) do |form| %>
    <div class="row">
      <div class="input-field col s6">
        <%= form.text_field :title, {id: 'event_title', autofocus: true} %>
        <label for="event_title">イベント名</label>
      </div>
    </div>
    <p style="color:red;">※メンバーが入力した日付を削除すると、日程情報も一緒に削除されます</p>
    <span>開催日候補</span>
    <div class="row space-dell">
      <div class="input-field col s6">
        <div id="datepicker"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s6 space-dell">
        <% @date_cnt.times do |count| %>
          <div class="row space-dell">
            <div class="input-field col s12 space-dell">
              <div class="col s6"><input type="text" id="date_val<%= count + 1 %>" name="date_val[]" value="<%= @decisionDate[count].blank? ? '' : @decisionDate[count].day.strftime('%Y/%m/%d') %>"></div>
              <div class="col s1"><a href="javascript:void(0);" id="clear_date<%= count + 1 %>" class="clearDate"><i class="material-icons secondary-content">clear</i></a></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= form.text_field :url, {id: 'event_url'} %>
        <label for="event_url">URL(お店、イベントページなど)</label>
      </div>
      <div class="input-field col s6">
        <%= form.number_field :fee, min:0, max:99999999, step:1, id: 'event_fee' %>
        <label for="event_fee">会費</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= form.text_area :detail, {cols:30, rows:3, class: 'materialize-textarea', id: 'event_detail'} %>
        <label for="event_detail">イベント詳細</label>
      </div>
    </div>
    <%= form.submit "送信", class: "waves-effect waves-light btn", data: { disable_with: "送信中..." } %>
    <%= link_to "削除", "/events/#{@event.id}/", method: :delete, data: { confirm: "削除してもよろしいですか?" }, class: "btn-flat btn-disabled" %>
  <% end %>
</div>