<script type="text/javascript">
$(function(){
  // 「.modal-open」をクリック
  $('.modal-open').click(function(){
    // オーバーレイ用の要素を追加
    $('body').append('<div class="modal-overlay"></div>');
    // オーバーレイをフェードイン
    $('.modal-overlay').fadeIn('fast');

    // モーダルコンテンツのIDを取得
    var modal = '#' + $(this).attr('data-target');
    // モーダルコンテンツの表示位置を設定
    modalResize();
    // モーダルコンテンツフェードイン
    $(modal).fadeIn('fast');

    // 「.modal-overlay」あるいは「.modal-close」をクリック
    $('.modal-overlay, .modal-close').off().click(function(){
      // モーダルコンテンツとオーバーレイをフェードアウト
      $(modal).fadeOut('fast');
      $('.modal-overlay').fadeOut('fast',function(){
          // オーバーレイを削除
          $('.modal-overlay').remove();
      });
    });

    // リサイズしたら表示位置を再取得
    $(window).on('resize', function(){
      modalResize();
    });

    // モーダルコンテンツの表示位置を設定する関数
    function modalResize(){
      // ウィンドウの横幅、高さを取得
      var w = $(window).width();
      var h = $(window).height();

      // モーダルコンテンツの表示位置を取得
      var x = (w - $(modal).outerWidth(true)) / 2;
      var y = (h - $(modal).outerHeight(true)) / 2;

      // モーダルコンテンツの表示位置を設定
      $(modal).css({'left': x + 'px','top': y + 'px'});
    }
  });
  
  $(document).ready(function(){
    // サイドバー初期化(https://materializecss.com/navbar.html)
    $('.sidenav').sidenav();
    // materializeのselect要素を初期化(https://materializecss.com/select.html)
    $('select').formSelect();
  });
});
</script>

<% provide(:title, "イベント情報") %>
<%= render 'layouts/flash_messages', object: @event %>
<div class="container">
  <h2>イベント情報</h2>
  <div class="row">
    <div class="col s4"><b>イベント名</b></div>
    <div class="col s8"><%= @event.title %></div>
  </div>
  <hr>
  <div class="row space-dell">
    <div class="col s12">
      <h5>開催日候補</h5>
    </div>
  </div>
  <div class="row">
    <div id="operation-board">
      <div class="col s12 m2">
        <a data-target="decision_set" class="waves-effect waves-light btn modal-open edit-btn">日程入力</a>
      </div>
      <div class="col s12 m6">
        <% if @event.user_id == @current_user_id %>
          <a data-target="member_add" class="waves-effect waves-light btn yellow darken-3 modal-open edit-btn">メンバー追加</a>
          <a data-target="member_delete" class="waves-effect waves-light btn yellow darken-3 modal-open edit-btn">メンバー削除</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="responsive-table highlight table-no-scroll">
      <tr>
        <th>日付</th>
        <th>(集計)</th>
        <% @member.each do |obj| %>
          <th style="text-align: center;" <%= obj.user_id == @current_user_id ? 'class="teal lighten-5"'.html_safe : '' %>><%= obj.user.username %></th>
        <% end %> 
      </tr>
      <% @decisionDate.each do |date| %>
        <tr>
          <td><%= date.day.strftime('%Y/%m/%d') %></td>
          <% @decisionDateSum.each do |dateSum| %>
            <% if dateSum.day == date.day %>
              <td><%= dateSum.proprieties_count.force_encoding("utf-8") %></td>
            <% end %>
          <% end %>
          <% @decisionUser.each do |user| %>
            <% if user.day == date.day %>
              <td style="text-align: center;" <%= user.user_id == @current_user_id ? 'class="teal lighten-5"'.html_safe : '' %>><%= user.propriety %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col s4"><b>URL<br>(お店HPなど)</b></div>
    <div class="col s8"><%= @event.url %></div>
  </div>
  <div class="row">
    <div class="col s4"><b>会費</b></div>
    <div class="col s8"><%= @event.fee.blank? ? '' : @event.fee.to_s(:delimited) %></div>
  </div>
  <div class="row">
    <div class="col s4"><b>イベント詳細</b></div>
    <div class="col s8"><%= @event.detail %></div>
  </div>
  <% if @event.user_id == @current_user_id %>
    <div class="row">
      <%= link_to('編集', "/events/edit/#{@event.id}/", :action => 'edit', :class => 'waves-effect waves-light btn') %>
    </div>
  <% end %>
</div>

<!-- 日程入力 -->
<div id="decision_set" class="modal-content">
  <div class="row">
    <% @member.each do |obj| %>
      <% if obj.user_id == @current_user_id %>
        <p>ログイン中のユーザー：<b><%= obj.user.username %></b></p>
        <%= form_tag(event_adjustment_path, {method: :post, class: 'col s12'}) do %>
          <% @decisionDate.each do |date| %>
            <div class="row space-dell">
              <div class="input-field col s6">
                <%= date.day.strftime('%Y/%m/%d') %>
              </div>
              <% @decisionUser.each do |user| %>
                <% if user.day == date.day && user.user_id == @current_user_id %>
                  <div class="input-field col s6">
                    <%= select_tag('propriety', options_for_select(@proprieties_for_options, user.propriety_before_type_cast), class:'option', name: 'propriety[]') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="list-space"></div>
          <%= submit_tag "保存", class: "waves-effect waves-light btn" %>
          <a class="modal-close waves-effect waves-light btn">閉じる</a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- メンバー追加 -->
<div id="member_add" class="modal-content">
  <div class="row">
    <div class="col s12">
      <p><b>追加するメンバーを、Twitterリストから選択してください</b></p>
      <table class="striped">
        <% if defined? @owned_lists then %>
          <th>リスト名</th><th>人数</th><th>詳細</th>
          <% @owned_lists.each do |obj| %>
            <tr>
              <td><%= link_to(obj.name, :action => 'show', :list => obj.name) %></td>
              <td style="text-align: right;"><%= obj.member_count %></td>
              <td><%= obj.description %></td>
            </tr>
          <% end %>
        <% else %>
          <p>利用できるリストがありません。</p>
        <% end %>
      </table>
      <a class="modal-close waves-effect waves-light btn">閉じる</a>
    </div>
  </div>
</div>

<!-- メンバー削除 -->
<div id="member_delete" class="modal-content">
  <div class="row">
    <%= form_tag(member_delete_path, {method: :post, class: 'col s12'}) do %>
      <p><b>削除するメンバーにチェックを入れてください</b></p>
      <% @member.each do |obj| %>
        <% if obj.user_id != @current_user_id %>
          <p>
            <label>
              <%= check_box "delete_list", obj.user_id %>
              <span style="color:black;"><%= obj.user.username %></span>
            </label>
          </p>
        <% end %>
      <% end %>
      <%= submit_tag "削除", class: "waves-effect waves-light btn red lighten-2" %>
      <a class="modal-close waves-effect waves-light btn">閉じる</a>
    <% end %>
  </div>
</div>
