<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<table>
  <tr>
    <th>イベント名</th>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <th>開催日候補</th>
    <td>
      <table id ="date_list">
        <tr>
          <th>日付</th>
          <th>(集計)</th>
          <% @member.each do |obj| %>
            <th><%= obj.user.nickname %></th>
          <% end %>
        </tr>

        <% @date_ary.each do |date| %>
          <% if date != nil then %>
            <tr>
              <td><%= date %></td>
            </tr>
          <% end %>  
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <th>URL(お店、イベントページなど)</th>
    <td><%= @event.url %></td>
  </tr>
  <tr>
    <th>会費</th>
    <td><%= @event.fee %></td>
  </tr>
  <tr>
    <th>イベント詳細</th>
    <td><%= @event.detail %></td>
  </tr>
</table>