<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper teal nav-add lighten-1">
            <%= link_to 'Twi-Kanji', root_path, :class => 'brand-logo' %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if user_signed_in? %>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'イベント一覧', events_path %></li>
              <% else %>
                <li><%= link_to "ログイン", user_twitter_omniauth_authorize_path %></li>
                <li>イベント一覧</li>
              <% end %>
              <li><%= link_to "イベント作成", events_add_path %></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
