<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <%= link_to root_path, class: 'white-text' do %>
          <h5 class="white-text">Twi-Kanji</h5> 
        <% end %>
        <p class="grey-text text-lighten-4">Twi-Kanjiは、Twitterで"幹事する"サービスです</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><%= link_to 'トップページ', root_path, class: 'grey-text text-lighten-3' %></li>
          <% if user_signed_in? %>
            <li><%= link_to "イベント作成", events_add_path, class: 'grey-text text-lighten-3' %></li>
            <li><%= link_to 'イベント一覧', events_path, class: 'grey-text text-lighten-3' %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, class: 'grey-text text-lighten-3'} %></li>
          <% else %>
            <li>イベント作成</li>
            <li>イベント一覧</li>
            <li><%= link_to "ログイン", user_twitter_omniauth_authorize_path, class: 'grey-text text-lighten-3' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright©paya02. All Rights Reserved.
    </div>
  </div>
</footer>
